.banner-root{
    background-color: #d9d9d9;
    padding: 100px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title{
    color: #212529;
    font-weight: 600;
    margin: 10px 0;
}

.banner-subtitle{
    color: #212529;
    font-weight: 600;
}

.banner-image{
    object-fit: cover;
    object-position: 100% 20%;
    height: 250px;
    width: 250px;
}

.banner-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    background-color: #212529;
    border: solid #fff 0.15rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 1px rgba(50, 50, 50, 0.75);
}

.banner-social-media-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.insta-icon{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 10px;
    height: 28px;
}